footer {
  background-color: $primary;
  color: $solidWhite;
  padding: 75px;
  .footerFlexContainer {
    display: flex;
    justify-content: space-between;
  }
}
.footerLogo h4 {
  color: $solidWhite;
}

.footerNav nav {
  display: flex;
}
.footerNav {
  width: 45%;
  nav {
    display: flex;
    justify-content: space-between;
  }
}

.social {
  display: flex;
  justify-content: flex-start;
  margin-top: 25px;
  i {
    margin: 0 10px;
  }
}
