//categories
.categories {
  margin-top: 90px;
}
.categoryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  //   backgroun colors
  .itemOne {
    background-color: $quinary;
  }
  .itemTwo {
    background-color: $secondary;
  }
  .itemThree {
    background-color: $tertiary;
  }
  .itemFour {
    background-color: $quaternary;
  }
  //   list item styles
  .items {
    border-radius: 10%;
    width: calc(45% - 50px);
    margin: 50px 25px 25px;
    padding: 40px;
    text-align: center;
    transition: 0.3s;

    // img styles
    img {
      border-radius: 10%;
      margin-bottom: 15px;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
}

//let them play
.play {
  background-image: url(../assets/background-image.jpg);
  // background-image: url('../styles\sass\styles.scss');
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    .playContent {
      width: 60%;
      border: 24px solid $pastel;
      background-color: $solidWhite;
      padding: 60px;
      text-align: center;
    }
  }
}
